<a href="https://colab.research.google.com/github/Digvijay4252/data_scince_algorithm/blob/main/Task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

data = pd.read_csv('/content/college_data.csv')

data = data.dropna()

data

,name,GPA,Activities,Income,StudyHours,TestScore,Distance,Internet,FinalResult
0,Alice,3.5,2,50000,15,78,10,Yes,Pass
1,ben,3.8,3,60000,20,85,5,Yes,Pass
2,chloe,2.9,1,30000,8,60,25,No,Fail
3,david,4.0,4,75000,25,92,2,Yes,Pass
4,eva,3.0,2,40000,10,70,15,No,Pass
5,farhan,2.5,0,25000,5,50,30,No,Fail
6,grace,3.2,1,45000,12,76,12,Yes,Pass
7,hassan,3.7,3,65000,22,88,8,Yes,Pass
8,Ivy,2.7,1,35000,7,65,20,No,Fail
9,jake,3.6,2,58000,18,80,6,Yes,Pass
10,kriti,3.1,2,50000,14,74,11,Yes,Pass
11,leo,2.8,1,32000,6,58,18,No,Fail
12,mira,3.3,2,52000,16,79,9,Yes,Pass
13,nina,2.6,0,28000,4,45,28,No,Fail
14,omar,3.9,4,70000,24,90,3,Yes,Pass

In [15]:
print(data.head())

    name  GPA  Activities  Income  StudyHours  TestScore  Distance  Internet  \
0  Alice  3.5           2   50000          15         78        10         1
1    ben  3.8           3   60000          20         85         5         1
2  chloe  2.9           1   30000           8         60        25         0
3  david  4.0           4   75000          25         92         2         1
4    eva  3.0           2   40000          10         70        15         0

   FinalResult
0            1
1            1
2            0
3            1
4            1

# **LogisticRegression()**

In [16]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         15 non-null     object
 1   GPA          15 non-null     float64
 2   Activities   15 non-null     int64
 3   Income       15 non-null     int64
 4   StudyHours   15 non-null     int64
 5   TestScore    15 non-null     int64
 6   Distance     15 non-null     int64
 7   Internet     15 non-null     int64
 8   FinalResult  15 non-null     int64
dtypes: float64(1), int64(7), object(1)
memory usage: 1.2+ KB
None

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

data['FinalResult'] = data['FinalResult'].map({'Fail': 0, 'Pass': 1})
data['Internet'] = data['Internet'].map({'No': 0, 'Yes': 1})

data = data.dropna()

output_dataset = data['FinalResult']
input_dataset = data[['GPA', 'TestScore', 'Internet']]

result_model = LogisticRegression()
result_model.fit(input_dataset, output_dataset)

insert = [[3.5, 55, 0]]
columns = ['GPA', 'TestScore', 'Internet']
column_df = pd.DataFrame(insert, columns=columns)

result_predictions = result_model.predict(column_df)

for i in result_predictions:
    print("Pass" if i == 1 else "Fail")

Fail